---
import BlocklyWorkspace from 'src/components/BlocklyWorkspace.astro';
import Layout from 'src/layouts/Layout.astro';
import Split from 'src/layouts/Split.astro';
---
<Layout title="Editor">
  <Split id="pageContainer">
    <section slot="1">
      Hello
    </section>
    <section slot="2">
      <label><input id="toggleGeneratedCode" type="checkbox"/>Show Generated Code</label>
      <button class="spacer">&nbsp;</button>
      <BlocklyWorkspace/>
      <pre id="generated"><code></code></pre>
    </section>
  </Split>
</Layout>
<style>
  #generated {
    position: absolute;
    z-index: 1;
    background-color: rgb(247, 240, 228);
  }

  #pageContainer {
    height: 100vh;
  }

  .spacer {
    opacity: 0;
  }
</style>
<script>
  import { Checkbox } from '../inputs/Checkbox.ts';
  import type {SplitLayout} from '../layouts/Split';
  import {False, True } from '../BooleanObject';
  import {AnimationFrameStream} from '../streams';
  import {returning} from '../functions';
  import {copyOffsetParentTransform} from '../htmlElement';
  import type {BlocklyWorkspace} from '../components/BlocklyWorkspace';
  import {getInterpreter, hasInterpreter} from 'src/Interpreter';

  const blocklyWorkspace = document.querySelector('blockly-workspace') as BlocklyWorkspace;
  const toggle = new Checkbox('#toggleGeneratedCode');
  const split = document.getElementById('pageContainer') as SplitLayout;
  const animationFrame = new AnimationFrameStream(20);
  const generatedElement = document.getElementById('generated')!;
  const generatedCode = generatedElement.querySelector('code')!;
  let windowWasResized = True;

  window.addEventListener('resize', () => {
    windowWasResized = True;
  });

  const returnFalse = returning(False);

  const frameHandlers = [
    () => {
      const {checked} = toggle;
      generatedElement.style.display = checked.if(() => 'block', () => 'none');
    },
    () => {
      split.changed = split.changed.if(resizeWorkspace, returnFalse);
    },
    () => {
      windowWasResized = windowWasResized.if(resizeWorkspace, returnFalse);
    },
    () => {
      hasInterpreter().and(blocklyWorkspace.hasMeaningfulChanges).if(useGeneratedCode, returnFalse);
    }];

  for(const handler of frameHandlers) {
    animationFrame.subscribe(handler);
  }

  setTimeout(() => animationFrame.start(), 100);


  function resizeWorkspace() {
    copyOffsetParentTransform(blocklyWorkspace, generatedElement);
    blocklyWorkspace.adjustSize();
    return False;
  };

  function useGeneratedCode() {
    const statements = blocklyWorkspace.generateStatementBlockInfo();
    generatedCode.textContent = blocklyWorkspace.generateCode();
    const Interpreter = getInterpreter();
    const myInterpreter = new Interpreter('');
    const cumulativeVariableNames = new Set<string>();
    for(const [stmtIndex, stmt] of statements.entries()) {
      myInterpreter.appendCode(stmt.code);
      myInterpreter.run();
      const stack = myInterpreter.getStateStack();
      const state = stack[stack.length - 1];
      console.log(stmtIndex, stmt.code);
      stmt.variables.map(v => v.name).forEach(name => cumulativeVariableNames.add(name));
      for(const name of cumulativeVariableNames) {
        const value = state.scope.object.properties[name];
        console.log(name, value);
      }
    }
    blocklyWorkspace.hasMeaningfulChanges = False;
  }
</script>
